<button class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-bars"></i>
</button>

<aside class="sidebar">
    <div class="logo">
        <i class="fas fa-fire"></i>
        <span>{{site_name}}</span>
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="{% url 'candle:dashboard' %}" class="nav-link {% if active_menu == 'dashboard'%} active {% endif %}">
                <i class="fas fa-th-large"></i>
                <span>Dashboard</span>
            </a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
            <a href="{% url 'candle:dashboard_workshops' %}" class="nav-link">
                <i class="fas fa-calendar-alt"></i>
                <span>Workshops</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'candle:dashboard_blogs' %}" class="nav-link {% if active_menu == 'blogs'%} active {% endif %}">
                <i class="fas fa-blog"></i>
                <span>{% if not user.is_superuser %}My {% endif %}Blog Posts</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="{% url 'candle:dashboard_bookings' %}" class="nav-link {% if active_menu == 'bookings'%} active {% endif %}">
                <i class="fas fa-book"></i>
                <span>{% if not user.is_superuser %}My {% endif %}Bookings</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'candle:dashboard_reviews' %}" class="nav-link">
                <i class="fas fa-star"></i>
                <span>{% if not user.is_superuser %}My {% endif %}Reviews</span>
            </a>
        </li>
    </ul>
</aside>