{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{site_title}}{% endblock title %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'candle/main.css' %}">
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% include 'candle/fragments/messages.html' %}
    {% block content %}
    {% endblock content %}
    
    {% include 'candle/fragments/book-modal.html' %}
    {% include 'candle/fragments/rating-modal.html' %}
    <script src="{% static 'candle/main.js' %}"></script>
</body>
</html>